<style type="text/css">
  body {
    max-width: 90%;
    margin: 0 auto;
  }
  h3 {
    text-align: center;
  }
  .container-arrow {
    text-align: center;
    padding-top: 20px;
  }
  iframe {
    border: none;
    width: 100%;
    height: 480px;
    -webkit-box-shadow: 0 0 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 60px rgba(0,0,0,.3);
    box-shadow: 0 0 60px rgba(0,0,0,.3);
  }
</style>

<h3>Mobile News Recommender System</h3>
<h4>
  <a href="<%= @article.url %>">
    <%= @article.title %>
  </a>
  <% unless @suggestion.nil? %>
    (<%= @suggestion %>)
  <% end %>
</h4>

<p>
  <%= @article.summary %>
</p>

<iframe src="<%= @article.url %>"></iframe>

<div class="container-arrow">
  <%= link_to "Delete",
      delete_article_classifiers_path(article_id: @article.id),
      class: "btn btn-danger" %>
  <% @categories.each do |cat| %>
    <%= link_to cat.name,
        apply_classifiers_path(article_id: @article.id, category_id: cat.id),
        class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Next",
      apply_classifiers_path(article_id: nil, category_id: nil),
      class: "btn btn-success" %>
</div>