<style type="text/css">
  body {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  .container-narrow h1 {
    padding-top: 30%;
    padding-bottom: 20px;
  }
</style>
<div class="container-narrow">
  <h1>News Recommender System Data Boostrap</h1>
  <%= link_to "Classify Articles", classify_classifiers_path, class: "btn btn-success btn-large" %>
</div>